# build output
dist/
.output/

# dependencies
node_modules/

# lock files - use bun.lockb instead of package-lock.json
package-lock.json
yarn.lock
pnpm-lock.yaml

# logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
bun-debug.log*

# environment variables
.env
.env.production

# macOS-specific files
.DS_Store

# database
*.db
*.db-shm
*.db-wal

# editor
.vscode/
.idea/

# temp
.astro/
bun.lockb.txt
